#calendar {
    position: relative;
}

#times {
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
    width: 5ex;
}

.time {
    position: absolute;
    left: 0;
    right: 0;
}

#calbody {
    position: absolute;
    top: 0;
    left: 6ex;
    right: 6ex;
}

.oneday {
    position: absolute;
    left: 0;
    right: 0;
}

.dayheader {
    position: absolute;
    left: 0;
    right: 0;
    top: -2em;
    text-align: center;
}

.appt {
    position: absolute;
    left: 0;
    right: 0;

    background-color: orange;
    border: 1px solid black;
    overflow: hidden;

    border-radius: 1ex;
}

.avail {
    background-color: #ddd;
    border: none;
}

.test {
    background-color: #fb9;
}

.tx {
    background-color: #b9f;
}

.newpt {
    background-color: #9fb;
}
