/* let's snug the body up against the frame */

body {
    padding: 0ex;
    margin: 0ex;
}

/* tweaks to links */

a {
    color: #33c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* no labels in forms */

form.nolabels label {
    display: none;
}

form div {
    display: table-row;
}

form span {
    display: table-cell;
}

/* a little padding */

span, #journbar, #topbar {
    padding: .5ex;
}

/* topbar: nice background, inline forms */

#topbar {
    background: #cceeff;
}

#topbar form {
    display: inline;
}

/* patient: information displays as a table */

#patient {
    display: table;
}

#patient div {
    display: table-row;
}

#patient span {
    display: table-cell;
}

/* journal bar: nice background */

#journbar {
    background: #ccccff;
}

/* journal: display as a table */

#journal {
    display: table;
}

#journal div {
    display: table-row;
}

#journal span {
    display: table-cell;
}

span.money {
    text-align: right;
}

/* these are rows in the journal; each type is color-coded */

#journal .frobbitz {
    background: dde;
    background: ddf;
    background: dee;
    background: dfe;
    background: dff;
    background: edd;
    background: ede;
    background: eed;
    background: efe;
    background: eff;
    background: fdd;
    background: fdf;
    background: fee;
    background: fef;
    background: ffe;
}

#journal .email {
    background: dfd;
}

#journal .contact {
    background: efd;
}

#journal .doc {
    background: ded;
}

#journal .Rx {
    background: eef;
}

#journal .appointment {
    background: #def;
}

#journal .insplan {
    background: #fed;
}

#journal .phone {
    background: #ffd;
}

#journal .address {
    background: #fde;
}

#journal .progress {
    background: #edf;
}

/* patient list table magic */

#ptlist {
}

#ptlist div {
    display: table-row;
}

#ptlist span {
    display: table-cell;
}

/* contact details styling */

#contact {
    display: table;
}

#contact div {
    display: table-row;
}

#contact span {
    display: table-cell;
}

/* progress details styling */

#progress {
    display: table;
}

#progress div {
    display: table-row;
}

#progress span {
    display: table-cell;
}

/* Rx details styling */

#Rx {
    display: table;
}

#Rx div {
    display: table-row;
}

#Rx span {
    display: table-cell;
}

/* Other rx boxes only display when printed
   (handled by rx-print.css stylesheet) */

#Rxdoctor {
    display: none;
}

#Rxdoctor div {
    display: table-row;
}

#Rxdoctor span {
    display: table-cell;
}

#Rxpatient {
    display: none;
}

#Rxpatient div {
    display: table-row;
}

#Rxpatient span {
    display: table-cell;
}

#Rxsignature {
    display: none;
}

/* tx plan styling */

#txplan {
    display: table;
}

#txplan div {
    display: table-row;
}

#txplan span {
    display: table-cell;
}
