$def with (journal, appt, pt, txs)

<html>
<head>
<title>Appointment for $model.pt_name(pt) - dp</title>
<link rel="stylesheet" href="/static/dp.css"/>
</head>
<body>

$# TODO: all this needs to be editable (!)

<div id="appt">
  <div>
    <span>Who</span>
    <span><a href="/pt/$pt.id">$model.pt_name(pt)</a></span>
  </div>
  <div>
    <span>When</span>
    <span>
      $ dt = model.load_datetime(journal.ts)
      <a href="/oneday/$model.display_date(dt)">$model.display_datetime(dt)</a>
    </span>
  </div>
  <div>
    <span>Length</span>
    <span>$appt.duration</span>
  </div>
  <div>
    <span>Summary</span>
    <span>$journal.summary</span>
  </div>
  <div>
    <span>Kind</span>
    <span>$appt.kind</span>
  </div>
  <div>
    <span>Status</span>
    <span>$appt.status</span>
  </div>
  <div>
    <span>Note</span>
    <span>$appt.note</span>
  </div>
  <div>
    <span></span>
    <span><a href="/editappt/$journal.id">edit</a></span>
  </div>
  <div>
    <span>Treatments</span>
    <span>
      $ total = 0.0
      <div id="txplan">
      $for tx in txs:
        <div class="tx">
	  <span>$tx.summary</span>
	  $ total += tx.fee
	  <span class="money">$('$ %.2f' % tx.fee)</span>
	</div>
      <div class="total">
	<span>total</span>
	<span class="money">$('$ %.2f' % total)</span>
      </div>
      </div>
    </span>
  </div>
  <div>
    <span></span>
    <span><a href="/appointment/$journal.id/tx">edit tx</a></span>
  </div>
</div>

</body>
</html>
