$def with (journal, contact, pt)

<html>
<head>
<title>Contact with $model.pt_name(pt) - dp</title>
<link rel="stylesheet" href="/static/dp.css"/>
</head>
<body>

<div id="topbar">
  <a href="/patient/$pt.id">$pt.name</a>
  <form method="POST" action="/searchpt">
    <input type="text" name="query"/>
    <button type="submit" name="submit">search</button>
  </form>
</div>

<div id="contact">
  <div class="when">
    <span>contact</span>
    <span>$model.display_datetime(model.load_datetime(journal.ts))</span>
  </div>
  <div class="summary">
    <span>summary</span>
    <span>$journal.summary</span>
  </div>
  <div class="detail">
    <span>details</span>
    <span>$contact.details</span>
  </div>
</div>

</body>
</html>
