$def with (journal, contact, pt)

<html>
<head>
<title>Contact with $model.pt_name(pt) - dp</title>
<link rel="stylesheet" href="/static/dp.css"/>
</head>
<body>

<h1>Contact with $model.pt_name(pt)</h1>

<div id="contact">
  <div class="when">
    <span>contact</span>
    <span>$model.display_datetime(model.load_datetime(journal.ts))</span>
  </div>
  <div class="summary">
    <span>summary</span>
    <span>$journal.summary</span>
  </div>
  <div class="detail">
    <span>details</span>
    <span>$contact.details</span>
  </div>
</div>

</body>
</html>
