$def with (journal, contact, pt)

<html>
<head>
<title>Contact with $model.pt_name(pt) - dp</title>
<link rel="stylesheet" href="/static/dp.css"/>
</head>
<body>

<h1>Contact with $model.pt_name(pt)</h1>

<div id="contact">
  <div class="when">
    <span>When</span>
    <span>$time.strftime('%Y-%m-%d %H:%M', time.localtime(journal.ts))</span>
  </div>
  <div class="summary">
    <span>Summary</span>
    <span>$journal.summary</span>
  </div>
  <div class="detail">
    <span>Details</span>
    <span>$contact.details</span>
  </div>
</div>

</body>
</html>
