$def with (pts)

<html>
<head>
<title>Patients - dp</title>
<link rel="stylesheet" href="/static/dp.css"/>
</head>
<body>

<div id="topbar">
  <form class="nolabels" method="POST" action="/searchpt">
    <input type="text" name="query"/>
    <button type="submit" name="submit">search</button>
  </form>
</div>

<div id="ptlist">
$for pt in pts:
  <div class="familymember">
    <span>
      <a href="/patient/$pt.id">$model.pt_name(pt)</a>
    </span>
    <span>$pt.birthday</span>
  </div>
</div>

</body>
</html>
