$def with (today,appts,pts)
$# appts here is already a join of appointment & journal
$# TODO give this a top bar
$# TODO display dates at the top of columns
$# TODO generalize to multiple days

<html>
<head>

<title>One Day</title>
<link rel="stylesheet" href="/static/dp.css"/>
<link rel="stylesheet" href="/static/calendar.css"/>

</head>
<body>

$code
  firsthour = 0
  lasthour = 23

  def hourtop(h):
    return '%.1fex' % (6 + 6*h)

  def hourheight(duration):
    return '%.1fex' % (duration / 10.0)

$for hour in range(firsthour, lasthour+1):
  <div class="time" style="top: $(hourtop(hour));">$hour:00</div>

<div class="appt avail" style="top: $(hourtop(8)); height: $(hourheight(4*60)); right: 6ex;">
</div>
<div class="appt avail" style="top: $(hourtop(13)); height: $(hourheight(4*60)); right: 6ex;">
</div>

$for i in range(len(appts)):
  $code
    a = appts[i]
    p = pts[i]
    dt = model.load_datetime(a.ts).astimezone(config.tz)
    hour = dt.hour + float(dt.minute)/60
    duration = a.duration

  <div class="appt $a.kind" style="top: $(hourtop(hour)); height: $(hourheight(duration)); right: 6ex;">
    <span style="font-size: 90%;">$dt.strftime('%H:%M')</span>
    <span style="font-size: 110%;">
      <a href="/patient/$p.id">$model.pt_name(p)</a>
    </span>
    <span>
      <a href="/journal/$a.journalid">$a.summary</a>
    </span>
    <span>
      $a.notes
    </span>
  </div>

<div id="topbar">
  <form method="POST" action="/searchpt">
    <input type="text" name="query"/>
    <button type="submit">search</button>
  </form>
</div>

</body>
</html>
