$def with (today,appts,pts)
$# appts here is already a join of appointment & journal
$# TODO make this prettier, push the css into another file, etc

<html>
<head>

<title>One Day</title>

<style type="text/css">

body {
  font-size: 50%;
}

#schedule {
  width: 21%;
}

.time {
  text-align: right;
  width: 10%;
  position: absolute;
  left: 0px;
}

.newappt {
  width: 79%;
  position: absolute;
  left: 11%;
}

.appt {
  width: 79%;
  position: absolute;
  left: 11%;

  background-color: orange;
  border: 1px solid black;
  overflow: hidden;
}

.test {
  background-color: #fb9;
}

.tx {
  background-color: #b9f;
}

.newpt {
  background-color: #9fb;
}

</style>

</head>
<body>

$code
  firsthour = 8
  lasthour = 19

  def hourtop(h):
    return (float(h)-firsthour)/(lasthour-firsthour+1)*100

  def hourheight(duration):
    return (duration/60.0)/(lasthour-firsthour+1)*100

$for hour in range(firsthour, lasthour+1):
  <div class="time" style="top: $('%.1f'%hourtop(hour))%;">$hour:00</div>
  <div class="newappt" style="top: $('%.1f'%hourtop(hour))%;">
    <a href="/newappt?dt=$model.display_date(today)+$hour%3A00">new</a>
  </div>

$for i in range(len(appts)):
  $code
    a = appts[i]
    p = pts[i]
    dt = model.load_datetime(a.ts).astimezone(model.tz)
    hour = dt.hour + float(dt.minute)/60
    duration = a.duration

  <div class="appt $a.kind" style="top: $('%.2f'%hourtop(hour))%; height: $('%.1f'%hourheight(duration))%;">
    <span style="font-size: 90%;">$dt.hour:$('%02d' % dt.minute)</span>
    <span style="font-size: 110%;">
      <a href="/pt/$p.id/">$model.pt_name(p)</a>
    </span>
    <span>
      <a href="/appointment/$a.journalid">$a.summary</a>
    </span>
    <br/>
    <span>
      $a.note
    </span>
  </div>

</body>
</html>
