$def with (journal, progress, pt)

<html>
<head>
<title>Progress for $model.pt_name(pt) - dp</title>
<link rel="stylesheet" href="/static/dp.css"/>
</head>
<body>

<div id="topbar">
  <a href="/patient/$pt.id">$pt.name</a>
  <form method="POST" action="/searchpt">
    <input type="text" name="query"/>
    <button type="submit" name="submit">search</button>
  </form>
</div>

<div id="progress">
  <div class="when">
    <span>progress</span>
    <span>$model.display_datetime(model.load_datetime(journal.ts))</span>
  </div>
  <div class="sub">
    <span>subjective</span>
    <span>$:progress.sub.replace('\n','<br/>')</span>
  </div>
  <div class="obj">
    <span>objective</span>
    <span>$:progress.obj.replace('\n','<br/>')</span>
  </div>
  <div class="ass">
    <span>assessment</span>
    <span>$:progress.ass.replace('\n','<br/>')</span>
  </div>
  <div class="pln">
    <span>plan</span>
    <span>$:progress.pln.replace('\n','<br/>')</span>
  </div>
</div>

</body>
</html>
