$def with (journal, progress, pt)

<html>
<head>
<title>Progress for $model.pt_name(pt) - dp</title>
<link rel="stylesheet" href="/static/dp.css"/>
</head>
<body>

<h1>Progress for $model.pt_name(pt)</h1>

<div id="progress">
  <div class="when">
    <span>When</span>
    <span>$model.display_datetime(model.load_datetime(journal.ts))</span>
  </div>
  <div class="sub">
    <span>Subjective</span>
    <span>$:progress.sub.replace('\n','<br/>')</span>
  </div>
  <div class="obj">
    <span>Objective</span>
    <span>$:progress.obj.replace('\n','<br/>')</span>
  </div>
  <div class="ass">
    <span>Assessment</span>
    <span>$:progress.ass.replace('\n','<br/>')</span>
  </div>
  <div class="pln">
    <span>Plan</span>
    <span>$:progress.pln.replace('\n','<br/>')</span>
  </div>
</div>

</body>
</html>
