$def with (pt, resparty, journal)

<html>
<head>
<title>$pt.firstname $pt.middlename $pt.lastname - dp</title>
<link rel="stylesheet" href="/static/dp.css"/>
</head>
<body>

<div id="topbar">
  <form>
    <input type="text" name="query"/>
    <input type="submit" value="Search"/>
  </form>
  <a href="/signout">signoff</a>
</div>

<div id="patient">
  <div>
    <span>Name:</span>
    <span>$pt.firstname $pt.middlename $pt.lastname</span>
  </div>
  <div>
    <span>Responsible Party:</span>
    <span><a href="/pt/$resparty.id">$resparty.firstname $resparty.middlename $resparty.lastname</a><br/><a href="/family/$resparty.id">family</a></span>
  </div>
  <div>
    <span>Personal:</span>
    <span>other personal info can go here</span>
  </div>
</div>

<div id="journbar">
  filter:
  <a href="/pt/$pt.id?filter=contact">contacts</a>
  <a href="/pt/$pt.id?filter=clinical">clinical</a>
  <a href="/pt/$pt.id?filter=money">money</a>
</div>

<div id="journal">
$code:
  now = time.time()
  future = True

$for entry in journal:
  $if future and entry.ts < now:
    $code:
      future = False
    <div class="today">
      <span>&nbsp;</span>
      <span>new:</span>
      <span>
        <a href="new/appointment">appoint</a>
        <a href="new/contact">contact</a>
        <a href="new/doc">doc</a>
        <a href="new/rx">Rx</a>
        <a href="new/progress">progress</a>
      </span>
    </div>

  <div class="$entry.kind">
    <span>$time.strftime('%Y-%m-%d %H:%M', time.localtime(entry.ts))</span>
    <span>$entry.kind</span>
    <span>$entry.summary</span>
    <span><a href="/$entry.kind/$entry.id">details</a></span>
  </div>

<!-- now I'm ignoring this boilerplate shiznit
<div class="appointment">
    <span>2012-12-27</span>
    <span>appointment</span>
    <span>fillings right side <a href="/appointment/12414">details</a></span>
  </div>
  <div class="progress">
    <span>2012-12-13</span>
    <span>progress</span>
    <span>new pt exam/cleaning; multiple slight caries<br/><a href="/progress/12481243">details</a></span>
  </div>
  <div class="appointment">
    <span>2012-12-13</span>
    <span>appointment</span>
    <span>new patient <a href="/appointment/12983814">details</a></span>
  </div>
  <div class="insplan">
    <span>2012-12-02</span>
    <span>insurance</span>
    <span>BCBS OK <a href="/insplan/12948">details</a></span>
  </div>
  <div class="phone">
    <span>2012-12-01</span>
    <span>phone</span>
    <span>cell 405-123-4567</span>
  </div>
  <div class="address">
    <span>2012-12-01</span>
    <span>address</span>
    <span>1024 Binary Ln<br/>Oklahoma City OK 73122<br/><a href="google maps!">map</a></span>
  </div>
  end of boilerplate shiznit ignoring -->
</div>

</body>
</html>
