$def with (form, pt, resparty, journal)

<html>
<head>
<title>$pt.firstname $pt.middlename $pt.lastname - dp</title>
<link rel="stylesheet" href="/static/dp.css"/>
</head>
<body>

<div id="topbar">
  <form class="nolabels" method="POST">
    $:form.render_css()
  </form>
  <a href="/newpt">new pt</a>
  | <!-- or some other kind of separator -->
  <a href="/signout">signoff</a>
</div>

<div id="patient">
  <div>
    <span>Name:</span>
    <span>$pt.firstname $pt.middlename $pt.lastname</span>
  </div>
  <div>
    <span>Birthday:</span>
    <span>$pt.birthday</span>
  </div>
  <div>
    <span>Responsible Party:</span>
    <span>
      <a href="/pt/$resparty.id">$resparty.firstname $resparty.middlename $resparty.lastname</a>
      <br/>
      <a href="/family/$resparty.id">family</a>
    </span>
  </div>
</div>

<div id="journbar">
  filter:
  <a href="/pt/$pt.id?filter=contact">contacts</a>
  <a href="/pt/$pt.id?filter=clinical">clinical</a>
  <a href="/pt/$pt.id?filter=money">money</a>
  new:
  <a href="new/address">address</a>
  <a href="new/phone">phone</a>
  <a href="new/email">email</a>
  <a href="new/appointment">appoint</a>
  <a href="new/contact">contact</a>
  <a href="new/doc">doc</a>
  <a href="new/rx">Rx</a>
  <a href="new/progress">progress</a>
</div>

$ future = True
$ balance = 0.0
<div id="journal">
$for entry in journal:
  $if future and entry.ts < time.time():
    $ future = False
    <hr/>
  <div class="$entry.kind">
    <!-- TODO: timezone handling here -->
    <span>$entry.ts</span>
    <span><a href="/journal/$entry.id">$entry.kind</a></span>
    <span>$entry.summary</span>
    $if entry.money:
      <span class="money">$('$ %.2f' % entry.money)</span>
      $ balance += entry.money
      <span class="money">$('$ %.2f' % balance)</span>
    $else:
      <span> </span>
      <span> </span>
  </div>
</div>

</body>
</html>
