$def with (pt, resparty, journal)

<html>
<head>
<title>$pt.firstname $pt.middlename $pt.lastname - dp</title>
<link rel="stylesheet" href="/static/dp.css"/>
</head>
<body>

<div id="topbar">
  <form>
    <input type="text" name="query"/>
    <input type="submit" value="Search"/>
  </form>
  <a href="/signout">signoff</a>
</div>

<div id="patient">
  <div>
    <span>Name:</span>
    <span>$pt.firstname $pt.middlename $pt.lastname</span>
  </div>
  <div>
    <span>Responsible Party:</span>
    <span><a href="/pt/$resparty.id">$resparty.firstname $resparty.middlename $resparty.lastname</a><br/><a href="/family/$resparty.id">family</a></span>
  </div>
  <div>
    <span>Personal:</span>
    <span>other personal info can go here</span>
  </div>
</div>

<div id="journbar">
  filter:
  <a href="/pt/$pt.id?filter=contact">contacts</a>
  <a href="/pt/$pt.id?filter=clinical">clinical</a>
  <a href="/pt/$pt.id?filter=money">money</a>
</div>

<div id="journal">
$code:
  now = time.time()
  future = True

$for entry in journal:
  $if future and entry.ts < now:
    $code:
      future = False
    <div class="today">
      <span>&nbsp;</span>
      <span>new:</span>
      <span>
        <a href="new/appointment">appoint</a>
        <a href="new/contact">contact</a>
        <a href="new/doc">doc</a>
        <a href="new/rx">Rx</a>
        <a href="new/progress">progress</a>
      </span>
    </div>

  <div class="$entry.kind">
    <span>$time.strftime('%Y-%m-%d %H:%M', time.localtime(entry.ts))</span>
    <span>$entry.kind</span>
    <span>$entry.summary</span>
    <span><a href="/$entry.kind/$entry.id">details</a></span>
  </div>
</div>

</body>
</html>
