$def with (journal, Rx, pt, address)

<html>
<head>
<title>Rx for $model.pt_name(pt) - dp</title>
<link rel="stylesheet" href="/static/dp.css"/>
<link rel="stylesheet" href="/static/rx-print.css" media="print"/>
</head>
<body>

<h1>Rx for $model.pt_name(pt)</h1>

<div id="Rxdoctor">
  <div class="name">
    <span class="label">doctor</span>
    <span>Daniel Smith McNair</span>
  </div>
  <div class="practice">
    <span class="label">practice</span>
    <span>McNair Family Dentistry</span>
  </div>
  <div class="address">
    <span class="label">address</span>
    <span>125 E 3rd St<br/>Ste A<br/>Edmond OK 73034</span>
  </div>
  <div class="phone">
    <span class="label">phone</span>
    <span>405-703-5344</span>
  </div>
  <div class="NPI">
    <span class="label">npi</span>
    <span>1508029331</span>
  </div>
  <div class="DEA">
    <span class="label">dea</span>
    <span>FM0951310</span>
  </div>
</div>

<div id="Rxpatient">
  <div class="name">
    <span class="label">patient</span>
    <span>$model.pt_name(pt)</span>
  </div>
  <div class="birthdate">
    <span class="label">birthdate</span>
    <span>$pt.birthday</span>
  </div>
  <div class="address">
    <span class="label">address</span>
    <span>$address.summary</span>
  </div>
</div>

<div id="Rx">
  <div class="when">
    <span class="label">date</span>
    <span>$model.display_datetime(model.load_datetime(journal.ts))</span>
  </div>
  <div class="drug">
    <span class="label">drug</span>
    <span>$journal.summary</span>
  </div>
  <div class="disp">
    <span class="label">disp</span>
    <span>$Rx.disp</span>
  </div>
  <div class="sig">
    <span class="label">sig</span>
    <span>$Rx.sig</span>
  </div>
  <div class="refills">
    <span class="label">refills</span>
    <span>$Rx.refills</span>
  </div>
</div>

<div id="Rxsignature">
  <span>signature</span>
</div>

</body>
</html>
