$def with (journal, Rx, pt, address)

<html>
<head>
<title>Rx for $model.pt_name(pt) - dp</title>
<link rel="stylesheet" href="/static/dp.css"/>
<link rel="stylesheet" href="/static/rx-print.css" media="print"/>
</head>
<body>

<div id="topbar">
  <a href="/patient/$pt.id">$pt.name</a>
  <form method="POST" action="/searchpt">
    <input type="text" name="query"/>
    <button type="submit" name="submit">search</button>
  </form>
</div>

<div id="Rxdoctor">
  <div class="name">
    <span class="label">doctor</span>
    <span>$config.provider.name</span>
  </div>
  <div class="practice">
    <span class="label">practice</span>
    <span>$config.office.name</span>
  </div>
  <div class="address">
    <span class="label">address</span>
    <span>$:config.provider.address.replace('\n','<br/>')</span>
  </div>
  <div class="phone">
    <span class="label">phone</span>
    <span>$config.provider.phone</span>
  </div>
  <div class="NPI">
    <span class="label">npi</span>
    <span>$config.provider.npi</span>
  </div>
  <div class="DEA">
    <span class="label">dea</span>
    <span>$config.provider.dea</span>
  </div>
</div>

<div id="Rxpatient">
  <div class="name">
    <span class="label">patient</span>
    <span>$model.pt_name(pt)</span>
  </div>
  <div class="birthdate">
    <span class="label">birthdate</span>
    <span>$pt.birthday</span>
  </div>
  <div class="address">
    <span class="label">address</span>
    $if address:
      <span>$:address.summary.replace('\n','<br/>')</span>
    $else:
      <span><em>no address given!</em></span>
  </div>
</div>

<div id="Rx">
  <div class="when">
    <span class="label">date</span>
    <span>$model.display_datetime(model.load_datetime(journal.ts))</span>
  </div>
  <div class="drug">
    <span class="label">drug</span>
    <span>$journal.summary</span>
  </div>
  <div class="disp">
    <span class="label">disp</span>
    <span>$Rx.disp</span>
  </div>
  <div class="sig">
    <span class="label">sig</span>
    <span>$Rx.sig</span>
  </div>
  <div class="refills">
    <span class="label">refills</span>
    <span>$Rx.refills</span>
  </div>
</div>

<div id="Rxsignature">
  <span>signature</span>
</div>

</body>
</html>
