$def with (pt, newtx, txplan)

<html>
<head>
<title>Tx for $model.pt_name(pt) - dp</title>
<link rel="stylesheet" href="/static/dp.css"/>
</head>
<body>

<div id="topbar">
  <a href="/patient/$pt.id">$pt.name</a>
  <form method="POST" action="/searchpt">
    <input type="text" name="query"/>
    <button type="submit" name="submit">search</button>
  </form>
</div>

<div id="txplan">
$for tx in txplan:
  <div class="tx">
    <span>$tx.summary</span>
    <span>$('D%04d' % tx.code)</span>
    <span>$tx.tooth</span>
    <span>$tx.surf</span>
    <span class="money">$('$ %.2f' % tx.fee)</span>
    <span>$model.tx_status(tx)</span>
  </div>
</div>

<form class="nolabels" method="POST">
  $:newtx.render_css()
</form>

</body>
</html>
